@media only screen and (min-width: 768px) {
	#image-links .container .row > .col-sm-4:first-child {
		padding-right: 0;
	}
	#image-links .container .row > .col-sm-4:last-child {
		padding-left: 0;
	}
	#image-links .container .row > .col-sm-4:nth-child(2) {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-nav {
		width: 100%;
		text-align: center;
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}
}