/* Styles for Top Navigation */
.hidden {
	display: none !important; 
}
section {
	padding: 20px 0;
}
.navbar {
	min-height: 30px;
}
.top-header {
	padding: 15px 0;
}
.navbar-inverse {
	background-color: #F4AA00;
	border-color: #F4AA00;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 15px;
	background-color: #F4AA00;
}

.navbar-inverse .navbar-nav > li.active > a {
	background-color: #562E18;
}

.navbar-inverse .navbar-nav > li.active > ul > li.active > a {
	background-color: #562E18;
}

.owl-pagination {
	position: relative;
	top: -50px;
}
.section-header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 6px;

}
section#slider img {
	width: 100%;
	height: 434px;
}
section#slider {
	padding: 0;
	position: relative;
	top: -20px;
}

section#slider .row {
	margin: 0;
}

section#slider .col-xs-12 {
	padding: 0;
}

section#slider .container-fluid {
	padding: 0;
}
.news-date, .events-date {
	font-style: italic;
}
.events-circle {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #F4AA00;
	color: white;
	padding: 10px 0 0 0;
	float: right;
	text-align: center;
	text-transform: uppercase;
	margin-top: 15px;
}
.events-info {
	margin-right: 60px;
	padding-right: 10px;
}
.panel-heading {
	background-color: #562E18;
	padding: 10px;
	color: white;
	border-radius: 5px;
}
.panel-body {
	background: beige;
	height: 140px;
}
.panel-body ul {
	list-style: none;
	padding: 0;
}
.panel-group .panel {
	margin-top: 5px;
}
.panel-title > i:first-child {
	margin-right: 15px;
}
.panel-group .panel+ .panel {
	margin-top: 5px;
}
.link-container {
	background-size: cover;
	width: 100%;
	height: 200px;
	color: white;
	padding: 30px;
}
.owl-page span {
	background: #F4AA00;
}
footer {
	margin-top: 50px;
}
.footer-link ul > li {
	float: left;
	padding: 0 15px;
	font-size: 15px;
	border-right: 1px solid;
}

.footer-link ul > li > a {
	color: black;
}

.footer-link .footer-text {
	float: left;
	padding: 15px;
	color: black;
}
.footer-link ul {
	list-style: none;
	padding: 0;
}
.footer-link {
	padding: 20px 0 0 0;
	text-transform: uppercase;
}
.header-image img {
	width: 85%;
}
.search-box {
	float: right;
	margin-top: 10px;
}
.search-box .btn-primary {
	background-color: #562E18;
}
.search-box input[type="text"] {
	height: 31px;
	border-color: #562E18;
	border: 1px solid;
	width: 220px;
}
.search-box p img {
	width: 25px;
}
.search-box p {
	text-align: center;
}
.page-title {
	
}
.buller-images img {
	width: 200px;
	height: 134px;
}
.faculty-list .row, .staff-list .row {
	margin-top: 20px;
}
.staff-list > div > p {
	margin-top: 20px;
}
